* {
  box-sizing: border-box;
}

body {
  font-size: $default-font;
  background-color: $background-color;
}

div#bucket {
  width: 0;
  height: 0;
  margin: $horizontal-margin;
  border-right: 200px solid $bucket-color;
  border-top: 200px solid transparent;
  border-left: 200px solid $bucket-color;
  border-bottom: 200px solid $bucket-color;
  border-radius: 200px;
}

nav {
  display: inline;
  float: left;
}

div#sign-up-btn {
  float: left;
  width: 50%;
}

div#sign-in-btn {
  float: right;
  width: 50%;
}

div#user-buckets {
  width: 85%;
  float: right;
}

div.contents {
  margin: 0 5px 5px 0;
  background-color: $white;
  width: 32%;
  border-radius: 5px;
}

div.individual-items {
  padding: 0 0 .5em 0;
}

button#create-new-bucket {
  background-color: $background-color;
  border-color: $background-color;
  margin-left: 45%;
}


button.delete-bucket-button,
button.edit-bucket-button {
  background-color: $bucket-color;
  border-color: $bucket-color;
}

button.sign-up, button.sign-in {
  margin-left: 40%;
}

button.user-nav, button.user-sign-out {
  background-color: $background-color;
  border-color: $background-color;
}

button.user-nav:hover, button.user-sign-out:hover {
  background-color: $background-color;
  border-color: $background-color;
}

button.user-nav:active, button.user-nav:focus {
  background-color: $background-color;
  border-color: $background-color;
  box-shadow: none;
  opacity: .7;
}

button.user-sign-out:active, button.user-sign-out:focus {
  background-color: $background-color;
  border-color: $background-color;
  box-shadow: none;
  opacity: .7;
}

button.user-account {
  color: $dark;
  background-color: $white;
  border-color: $white;
}

button.user-account:hover {
  color: $dark;
  background-color: $white;
  border-color: $white;
}

button.user-account:active {
  color: $dark;
  background-color: $white;
  border-color: $white;
  opacity: .7;
}

input.form-control {
    display: block;
    margin: 0 auto;
    width: 20%;
}

textarea.about-me {
  width: 100%;
}

input.three-column {
  width: 45%;
}

input[type="checkbox"] {
  margin: 4px 10px 0 0;
}

label {
  display: block;
}

label.upload {
  width: 30%;
  margin-left: 35%;
}

h1, h3, h4.modal-title, h6, h6.profile-pic {
  text-align: center;
}

h4.uppercase {
  text-transform: uppercase;
}


/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: $white;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: $horizontal-margin;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
